{% extends "v_layout.twig" %}
{% block contenu %}
<form method="post" action="{{ path("operation.validFormDelete") }}">
	<div class="row">

		<fieldset>
			<input type="hidden" name="_csrf_token"
				value="{{ donnees._csrf_token }}">
			<legend>
				Confirmer la suppression de la tansaction n°
				{{ donnees.id_operation }}
			</legend>
			<input name="id" type="hidden" value="{{donnees.id_operation}}" /> <input
				type="submit" name="supprimerOperation" value="Supprimer" />
		</fieldset>
	</div>
</form>
{% endblock %}
