{% extends "v_layout.twig" %}
{% block contenu %}
    <form method="post" action="{{ path("typeoperation.validFormAdd") }} ">
        <div class="row">
            <fieldset>
                <legend>Creer une transaction</legend>
                <label>Libelle :
                    <input name="libelle_operation"  type="text"  size="18" value="{{donnees.libelle_operation|default("")}}" />
                    {% if erreurs.libelle_operation is defined %}
                        <small class="error">{{erreurs.libelle_operation}}</small>
                    {% endif %}
                </label>

                <input type="submit" name="creerTypeOperation" value="créer" />
            </fieldset>
        </div>
    </form>
{% endblock %}