{% extends "v_layout.twig" %}
{% block contenu %}
<form method="post" action="{{ path("typeoperation.validFormDelete") }}">
	<div class="row">

		<fieldset>
		<input type="hidden" name="_csrf_token"
				value="{{ donnees._csrf_token }}">
			<legend>
				Confirmer le type n°
				{{ donnees.id_type }}
			</legend>
			<input name="id" type="hidden" value="{{donnees.id_type}}" /> <input
				type="submit" name="supprimerTypeOperation" value="Supprimer" />
		</fieldset>
	</div>
</form>
{% if donnees.error is defined %}
<small class="error"> Des transactions de ce type existe encore</small>
{% endif %}
{% endblock %}
